## {{ section_number }}. {{ topic_name }}

{% if definition %}
### Definition

{{ definition }}

{% if sources %}
*Sources: {{ sources }}*
{% endif %}
{% endif %}

{% if key_formulas %}
### Key Formulas

{{ key_formulas }}
{% endif %}

{% if derivation %}
### Derivation

{{ derivation }}
{% endif %}

{% if examples %}
### Worked Examples

{{ examples }}
{% endif %}

{% if common_mistakes %}
### Common Mistakes

{{ common_mistakes }}
{% endif %}

{% if quick_revision %}
### Quick Revision

{{ quick_revision }}
{% endif %}

---
